body{
    font-family: Roboto, Helvetica, Ariel, sans-serif;
    font-size: 14px;
    color:rgb(255, 255, 255);
    background-color: #191919;
}

.notecard{
    background-color: rgb(90, 90, 90);
    width: 450px;
    border-radius: 8px;
    margin-top: 100px;
    padding: 12px;
    margin-left: auto; /*centers*/
    margin-right: auto; 
    box-sizing: border-box;
}

.note-title{
    color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}

/*comments*/
.notecard-thumbnail{
    width:70px;
    height:70px;
    border-radius:5px;
}