* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
  
  .topnav {
    overflow: hidden;
    background-color: #ffffff;
    
  }
  
  .active{
      font-weight: bolder;
  }
  
  .topnav a {
   float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:10px;
    background-color: #ffffff;
  }
  
  /* .topnav a:hover, .dropdown:hover {
    background-color: #ddd;
  } */
  
  .topnav a.split {
    float: left;
    color: #000000;
    font-weight: bolder;
    background-color: #ffffff;

    
}

a{
  text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
    background-color: #ffffff;
  }

  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:10px;
    background-color: #ffffff;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #ffffff;
  }

  
  .dropdown:hover .dropdown-content {
    display: block;
    background-color: #ffffff;
  }

  .topnav .icon {
    display: none;
  }


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color:#000000;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }


.anim-typewriter {
    animation: typewriter 4s steps(30) 0.5s 1 normal both,
        blinkTextCursor 800ms steps(44) infinite normal;
}
.container-fluid home{
  display:flex;
  text-align: center;
  margin: 0 auto;
  justify-content:center;
  align-items: center;
}
.line-1{
    margin: 0 auto;
    margin-top:20%;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

#home-intro-detail{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
    line-height: 150%;
    font-weight: lighter;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 6em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: black;
    }

    to {
        border-right-color: transparent;
    }
}

.container-fluid home .button{
  text-align: center;
  align-content:center;
  justify-content:center;
}


.button {
  text-align: center;
  background-color: #0024EC;
  color: white;
  padding: 15px 32px;
  justify-content:center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  justify-content:center;
  border-radius:5px;

}

.button:hover{
  background-color: #0321ca;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

}

/* RESPONSIVE PROJECT CARDS ON INDEX/HOME PAGE */

.main_projects{
  align-items:center;
  margin-left:auto;
  margin-right:auto;
}


.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius:50px;
  align-items:center;
  justify-content:center;
}

.card_image img{
  width:500px;
  height:350px;
}

.card_image video, .card_image iframe{
  width:500px;
  height:350px;
}

.card_image{
  max-width: 100%;
  height: auto;
  vertical-align:middle;
}

.cards_item {
  display: flex;
  /* padding: 1rem; */
}


@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card_contents{
  padding:2% 2% 5% 5%;
  width:490px;
  text-align:left;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 30px 30px;
  outline-color:#000000;
}

.card_subtext{
  width:400px;
}


.skills{
  display: flex;
}

.skills > div{
  background-color:#DDDDDD;
  margin-right: 2%;
  padding:10px;
  color:#777777;
  /* font-weight:bold; */
  border-radius: 5px;
}

/*ABOUT PAGE */

.about_container{
  display:flex;
  margin-left: 15%;
  margin-right: 15%;
  align-content:center;
}
.about_image {
  float: left;
  width: 100%;
  
  /* box-sizing: border-box; */
  /* border: 2px solid rgb(229, 229, 229);
  border-radius: 5px; */
  
}

.about_image img{
  width:300px;
}

.about_text{
  padding-left:5%;
  line-height:1.8em;
}

.about_container:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .about_container{
    display:inline-block;
    text-align:left;
  }
  .about_image {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    outline-color:#000000;
  }
  .about_text {
    width: 100%;
  }
}

/*timeline for about page*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #0024EC;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #0024EC;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(215, 236, 255);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(255, 255, 255);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(215, 236, 255) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgb(215, 236, 255);
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}

h1{
  font-size:3em;
}

/* STYLES FOR PLAY PAGE */
/* Style the tab */
.tab {
  overflow: hidden;
  text-align:center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  text-align:center;
}

/* Change background color of buttons on hover */
.tab button:hover {
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
  text-decoration: underline;
  font-weight:bold;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
  text-align:center;
}

.play_dates{
  color:#777777;
  font-weight:lighter;
}

/* PROJECT DETAILS STYLES */

.project-detail-containers{
  width:60%;
  margin-left:auto;
  margin-right:auto;
}

.header{
  display: block;
  background-color:#F19296;
}

/* .project-solution-images{
  display:flex;
} */

.header img, .project-research img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.project-solution-images img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 2px solid rgb(173, 173, 173);
}

.introduction{
  display:flex;
}

.overview{
  width:60%;
  margin-right:15%;
  padding: 0% 0% 5% 0%;
}

.project-problem, .project-next-steps, .project-findings-container, .project-research, .project-solution{
  padding: 5% 0% 5% 0%;
}


.project-detail-sub-headers{
  font-weight:lighter;
  font-size:larger;
}

.project-findings{
  display:flex;
  padding: 5% 0% 5% 0%;
}

.table{
  text-align:center;
  align-items:center;
}

.speech-bubble-right, .speech-bubble-left {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
  color:#000000;
  padding: 5% 5% 5% 5%;
  width:80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}


.speech-bubble-right{
  margin-left:10%;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	margin-top: -23px;
	margin-left: -23px;
}

.speech-bubble-left:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-left-color: #ffffff;
	border-right: 0;
	margin-top: -23px;
	margin-right: -23px;
}

.project-other-container{
  display:flex;
}

.project-other-container img{
  width:80%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.centered-text{
  text-align:center;
}

.alternate{
  background-color:#FADFE0; 
  box-shadow: 0 0 0 100vmax #FADFE0;
  clip-path: inset(0 -100vmax);
}


.other-project{
  position: relative;
  transition: all .5s ease-in; 
}

.other-project-overlay{
  position: absolute;
  bottom: 0;
  height: 100%;
  width:80%;
  left:10%; 
  opacity: 0;
  color: white;
  text-align:center;
  align-items:center;
  visibility: none;
  transition: .5s ease;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  padding: 0% 5% 0% 5%;
}

.other-project-image{
  display: block;
  width: 100%;
  height: auto;
}

.other-project:hover .other-project-overlay{
  opacity: 1;
}

.progress-container {
  height: 8px;
  width: 100%;
  background: #ccc;
  position: fixed;
  top: 0;
  z-index: 1;
}

.progress-bar {
  background:#0024EC;
  height: 8px;
  width: 0%;
}